{% extends 'base.html' %}
{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}
{% block content %}
<h1>{{ recipe_object.title }}</h1>
{% if user.is_authenticated %}
    <a href="{% url 'edit' recipe_object.id %}">Edit Recipes</a>
{% endif %}
<div class="item">
        <img class="foodspecific" src="{{ recipe_object.picture }}">
</div>
<div>{{ recipe_object.rating }}</div>
<div>{% if recipe_object.gluten_free == True %} Gluten Free {% endif %}</div>
<h2>Ingredients</h2>
<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Food Item</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Steps</h2>
    <ol>
        {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
{% endblock content %}
