{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}
{% block content %}
<h1>Scrumptious Recipes</h1>
<h2>All the food that's fit to eat</h2>
<div class="fooditems">
    {% for recipe in recipe_list %}
    <div class="item">
        <h3>
            <a class="foodlink" href={% url 'show_recipe' recipe.id %}>{{ recipe.title }}</a>
        </h3>
        <img class="mainfoods" alt = {{ recipe.description }} src="{{ recipe.picture | default:'https://via.placeholder.com/150' }} ">
        <p>
            Created on: {{ recipe.created_on|date:"j F Y"}}
        </p>
        <div>{{ recipe.rating }}</div>
        <div> {% if recipe.gluten_free == True %} Gluten Free {% endif %}</div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
