header {
    padding: 10px;
    text-align: left;
    background: orangered;
    color: white;
    font-size: 20px;
    border-bottom-style: outset;
    width: 100%;
    }

    h1 {
    color: darkgreen;
    }

    .foodspecific{
    max-width: 60%;
    }

    .fooditems {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5%;
    }

    .item {
    height: auto;
    width: auto;
    background-color: white;
    }

    .foodlink {
    text-decoration: none;
    color: green;
    }

    .headerlink {
    text-decoration: none;
    color: white;
    }

    main {
    padding: 15px;
    padding-bottom: 5%;
    }

    footer {
    position: static;
    bottom: 0;
    padding: 20px;
    text-align: left;
    background: rgb(163, 196, 46);
    color: black;
    font-size: 15px;
    width: 100%;
    }


    tbody tr:nth-child(even) {
    background-color: rgb(211, 211, 211);
    }

    .steps {
    margin: 0px 30px 0px 30px;
    }

    .mainfoods {
    max-width: 60%;
    }


  * {
    box-sizing: border-box
    }
