{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        <nav>
            <a class="headerlink" href="{% url 'recipes_list' %}">Main Page</a>
            {% if user.is_authenticated %}
                <a class="headerlink" href="{% url 'create' %}">Create Recipes</a>
                <a class="headerlink" href="{% url 'my_recipe_list' %}">My recipes</a>
                <a class="headerlink" href="{% url 'log_out' %}">Log Out</a>
                Hello, {{ user.username }}
            {% else %}
                <a class="headerlink" href="{% url 'sign_up' %}">Sign up</a>
                <a class="headerlink" href="{% url 'user_login' %}">Login</a>
            {% endif %}

        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    Made with love by Scrumptious Recipes
    </footer>
</body>
</html>
